{% extends 'main/base.html' %}

{% block content %}
    <div class="col-6">
        <img src="/media/{{ object.avatar }}" alt="Аватарка">
    </div>

    <div class="col-6 mt-5 mb-5">
        <div class="card shadow-sm">

            <div class="card-body">
                <div class="col-6">
                    <p class="card-text">
                        {{ student|title }}
                    </p>
                    <p class="card-text">
                        {% if student.is_active %}
                            Учится
                        {% else %}
                            Отчислен
                        {% endif %}
                    </p>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div class="btn-group">
                        <a href="{% url 'main:update' object.pk %}"
                           type="button" class="btn btn-sm btn-outline-success">Редактировать</a>
                        <a href="{% url 'main:delete' object.pk %}"
                           type="button" class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Предметы студента
                    </h3>
                </div>
                <div class="card-body">
                    <ul>
                        {% for subject in subjects %}
                            <li>{{ subject }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}